*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-gray-200: hsl(0, 0%, 85%);
  --clr-gray-500: hsl(0, 0%, 55%);
  --clr-gray-800: hsl(0, 0%, 41%);
  --ff-primary: "Alata", sans-serif;
  --ff-secondary: "Josefin Sans", sans-serif;
  --fw-xs: 100;
  --fw-s: 200;
  --fw-m: 300;
  --fw-l: 400;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --20px: 1.25rem;
  --22px: 1.375rem;
  --24px: 1.5rem;
  --26px: 1.625rem;
  --28px: 1.75rem;
  --30px: 1.875rem;
  --32px: 2rem;
  --34px: 2.125rem;
  --36px: 2.25rem;
  --38px: 2.375rem;
  --40px: 2.5rem;
  --42px: 2.625rem;
  --44px: 2.75rem;
  --46px: 2.875rem;
  --48px: 3rem;
  --50px: 3.125rem;
  --52px: 3.25rem;
  --54px: 3.375rem;
  --56px: 3.5rem;
  --58px: 3.625rem;
  --60px: 3.75rem;
  --62px: 3.875rem;
  --64px: 4rem;
  --66px: 4.125rem;
  --68px: 4.25rem;
  --70px: 4.375rem;
  --72px: 4.5rem;
  --80px: 5rem;
  --96px: 6rem;
  --112px: 7rem;
  --128px: 8rem;
  --padding-desktop: 10rem;
  --padding-inline: clamp(2rem, 10vw, 10rem);
}

body {
  font-family: "Alata", sans-serif;
  font-family: "Josefin Sans", sans-serif;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

button,
li,
svg,
.nav-btn,
.flex-element,
.footer-container-media-icon {
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  padding-inline: var(--24px);
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 48rem) {
  .wrapper {
    padding-inline: var(--40px);
    text-align: left;
  }
}
.open-nav,
.close-nav {
  position: absolute;
  right: 0;
  padding: 1.5rem;
}

.close-nav {
  display: none;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.freeze-nav {
  overflow: hidden;
}

.button {
  width: 150px;
  padding: 10px 0;
  margin-top: var(--32px);
  margin-inline: auto;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--15px);
  font-family: var(--ff-primary);
  letter-spacing: 3px;
  transition: all 0.3s;
}

.button:hover {
  background: var(--clr-black);
  color: var(--clr-white);
}

@media (min-width: 48rem) {
  .open-nav,
  .close-nav {
    display: none;
  }
  .button {
    position: absolute;
    right: 0;
  }
}
.top-container {
  position: relative;
  padding-top: var(--42px);
  margin-bottom: 6rem;
  height: 85vh;
  background-image: url("../images/mobile/image-hero.jpg");
  background-size: cover;
  background-position: top;
  z-index: 0;
}
.top-container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-container .nav-logo {
  position: relative;
  width: clamp(9rem, 15vw, 12rem);
  z-index: 1;
}
.top-container .nav-ul {
  display: inline-block;
  position: fixed;
  padding-top: 15rem;
  padding-left: var(--24px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--clr-black);
  gap: var(--32px);
  z-index: 0;
  transform: translateY(-200%);
  transition: all ease-in-out 0.4s;
}
.top-container .nav-ul li {
  max-width: -moz-min-content;
  max-width: min-content;
  position: relative;
  font-size: var(--28px);
  font-weight: var(--fw-m);
  color: var(--clr-white);
  text-transform: uppercase;
}
.top-container .nav-ul li:not(:last-child) {
  margin-bottom: var(--32px);
}
.top-container .nav-ul li::before {
  position: absolute;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  top: 45%;
  right: 0;
  height: 50%;
  width: 2px;
  margin-right: -1.5rem;
  transform: translateY(-50%);
  background-color: var(--clr-white);
}
.top-container .nav-ul li:hover::before {
  opacity: 1;
}
.top-container .nav .active {
  transform: translateY(0);
}
.top-container .header h1 {
  max-width: 31rem;
  padding: clamp(20px, 4vw, 24px);
  margin-top: 10rem;
  margin-inline: auto;
  font-size: clamp(30px, 11vw, 40px);
  font-weight: var(--fw-m);
  text-transform: uppercase;
  color: var(--clr-white);
  border: 2px solid var(--clr-white);
}

@media (min-width: 48rem) {
  .top-container {
    padding-top: var(--72px);
    margin-bottom: 8rem;
    background-image: url("../images/desktop/image-hero.jpg");
  }
  .top-container .bg-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  .top-container .nav-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    padding-left: 0;
    position: static;
    gap: var(--32px);
    width: auto;
    height: 0;
    background-color: transparent;
  }
  .top-container .nav-ul li {
    font-size: var(--15px);
    font-weight: var(--fw-l);
    text-transform: none;
  }
  .top-container .nav-ul li:not(:last-child) {
    margin-bottom: 0;
  }
  .top-container .nav-ul li::before {
    display: none;
  }
  .top-container .nav-ul li::after {
    position: absolute;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    width: 50%;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: var(--clr-white);
  }
  .top-container .nav-ul li:hover::after {
    opacity: 1;
    bottom: -0.75rem;
  }
  .top-container .header h1 {
    padding: var(--34px);
    max-width: 41rem;
    margin-top: 8rem;
    margin-inline: 0;
    font-size: clamp(50px, 6vw, 72px);
  }
}
@media (min-width: 87.5rem) {
  .top-container .nav li {
    font-size: var(--16px);
  }
}
.grid {
  display: grid;
  text-align: center;
  gap: 3rem;
}
.grid .about-img {
  margin: 0 auto;
}
.grid .about-content h2 {
  padding-bottom: var(--22px);
  font-size: var(--32px);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-m);
  text-transform: uppercase;
}
.grid .about-content p {
  padding-inline: var(--16px);
  color: var(--clr-gray-500);
  line-height: var(--24px);
}

.cards {
  padding-top: var(--80px);
}
.cards .card-container {
  display: flex;
  flex-direction: column;
}
.cards .card-container h2 {
  padding-bottom: var(--22px);
  font-size: var(--32px);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-m);
  text-transform: uppercase;
}
.cards .card-container .flex-group {
  display: flex;
  flex-direction: column;
  gap: var(--24px);
  padding-top: var(--28px);
  margin-bottom: var(--32px);
  margin: 0 auto;
}
.cards .card-container .flex-group .flex-element {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  transform: all 0.3s;
}
.cards .card-container .flex-group .flex-element picture {
  transition: all 0.3s;
}
.cards .card-container .flex-group .flex-element h3 {
  max-width: 7.5rem;
  position: absolute;
  left: 1.25rem;
  bottom: 1.25rem;
  color: var(--clr-gray-200);
  font-size: var(--22px);
  font-weight: var(--fw-m);
  text-transform: uppercase;
  text-align: left;
}
.cards .card-container .flex-group .flex-element:hover picture {
  scale: 1.1;
}

.footer {
  position: relative;
  padding-block: var(--48px);
  margin-top: var(--80px);
}
.footer-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-black);
  z-index: -1;
}
.footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-container-left {
  display: flex;
  flex-direction: column;
}
.footer .footer-container-left-logo {
  width: 10rem;
}
.footer .footer-container-left ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--28px);
  padding: var(--42px) 0 var(--42px) 0;
}
.footer .footer-container-left ul li {
  max-width: -moz-min-content;
  max-width: min-content;
  position: relative;
  font-size: var(--16px);
  font-weight: var(--fw-l);
  color: var(--clr-white);
}
.footer .footer-container-left ul li::after {
  position: absolute;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  width: 50%;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--clr-white);
}
.footer .footer-container-left ul li:hover::after {
  opacity: 1;
  bottom: -0.75rem;
}
.footer .footer-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-container-media {
  display: flex;
  gap: var(--16px);
}
.footer .footer-container-media-icon {
  position: relative;
}
.footer .footer-container-media-icon::after {
  position: absolute;
  content: "212121";
  top: 10rem;
  left: 1rem;
  width: 10px;
  height: 10px;
  z-index: 10;
}
.footer .footer-container-bottom {
  margin-top: var(--18px);
  color: var(--clr-gray-500);
}

@media (min-width: 48rem) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
  }
  .grid .about-img {
    grid-column: 1/5;
    grid-row: 1/2;
    margin: 0;
  }
  .grid .about-content {
    grid-column: 4/-1;
    grid-row: 1/2;
    align-self: end;
    padding: clamp(2rem, 5vw, 5.25rem) 0 0 clamp(2rem, 5vw, 5.25rem);
    text-align: left;
    background-color: var(--clr-white);
  }
  .grid .about-content h2 {
    font-size: clamp(2rem, 4vw, 2.875rem);
  }
  .grid .about-content p {
    padding-inline: 0;
  }
  .cards {
    position: relative;
    padding-top: var(--padding-desktop);
  }
  .cards .card-container h2 {
    font-size: clamp(2rem, 4vw, 2.875rem);
  }
  .cards .card-container .flex-group {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--32px);
  }
  .cards .card-container .flex-group .flex-element img,
  .cards .card-container .flex-group .flex-element picture {
    width: 100%;
    height: 100%;
  }
  .cards .card-container .flex-group .flex-element h3 {
    left: 1.25rem;
    bottom: 1.25rem;
    font-size: var(--28px);
    max-width: 10rem;
  }
  .footer {
    padding-block: var(--48px);
    margin-top: 11rem;
  }
  .footer .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .footer-container-left ul {
    flex-direction: row;
    align-items: center;
    gap: var(--28px);
    padding: var(--42px) 0 0 0;
  }
  .footer .footer-container-left ul li {
    font-size: var(--16px);
    font-weight: var(--fw-l);
    color: var(--clr-white);
  }
  .footer .footer-container-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .footer .footer-container-bottom {
    margin-top: var(--42px);
  }
}
@keyframes navItemsAnimation {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-animation {
  animation: navItemsAnimation 1s both;
}/*# sourceMappingURL=style.css.map */