.open-nav,
.close-nav {
	position: absolute;
	
	right: 0;
	padding: 1.5rem;
}
.close-nav {
	display: none;
}
.show {
	display: flex;
}
.hide {
	display: none;
}
.freeze-nav {
	overflow: hidden;
}

@media (min-width: 48rem) {
	.open-nav,
	.close-nav {
		display: none;
	}
}
