@use 'mixins' as *;
@use 'buttons' as *;

.top-container {
	position: relative;
	padding-top: var(--42px);
	margin-bottom: 6rem;
	height: 85vh;
	background-image: url('../images/mobile/image-hero.jpg');
	background-size: cover;
	background-position: top;
	z-index: 0;

	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-logo {
			position: relative;
			width: clamp(9rem, 15vw, 12rem);
			z-index: 1;
		}
		&-ul {
			display: inline-block;
			position: fixed;
			padding-top: 15rem;
			padding-left: var(--24px);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: var(--clr-black);
			gap: var(--32px);
			z-index: 0;
			transform: translateY(-200%);
			transition: all ease-in-out 0.4s;

			li {
				max-width: min-content;
				position: relative;
				font-size: var(--28px);
				font-weight: var(--fw-m);
				color: var(--clr-white);
				text-transform: uppercase;

				&:not(:last-child) {
					margin-bottom: var(--32px);
				}
			}

			li::before {
				@include pseudoElements;
				top: 45%;
				right: 0;
				height: 50%;
				width: 2px;
				margin-right: -1.5rem;
				transform: translateY(-50%);
				background-color: var(--clr-white);
			}
			li:hover::before {
				opacity: 1;
			}
		}
		.active {
			transform: translateY(0);
		}
	}
	.header {
		h1 {
			max-width: 31rem;
			padding: clamp(20px, 4vw, 24px);
			margin-top: 10rem;
			margin-inline: auto;
			font-size: clamp(30px, 11vw, 40px);
			font-weight: var(--fw-m);
			text-transform: uppercase;
			color: var(--clr-white);
			border: 2px solid var(--clr-white);
		}
	}
}

@media (min-width: 48rem) {
	.top-container {
		padding-top: var(--72px);
		margin-bottom: 8rem;
		background-image: url('../images/desktop/image-hero.jpg');

		.bg-shadow {
			@include bgShadow;
		}

		.nav {
			&-ul {
				display: flex;
				flex-direction: row;
				align-items: center;
				padding-top: 0;
				padding-left: 0;
				position: static;
				gap: var(--32px);
				width: auto;
				height: 0;
				background-color: transparent;

				li {
					font-size: var(--15px);
					font-weight: var(--fw-l);
					text-transform: none;

					&:not(:last-child) {
						margin-bottom: 0;
					}
				}

				li::before {
					display: none;
				}

				li::after {
					@include pseudoElements;
					@include itemsAnimation;
				}
				li:hover::after {
					@include hoverAnimation;
				}
			}
		}
		.header {
			h1 {
				padding: var(--34px);
				max-width: 41rem;
				margin-top: 8rem;
				margin-inline: 0;
				font-size: clamp(50px, 6vw, 72px);
			}
		}
	}
}

@media (min-width: 87.5rem) {
	.top-container {
		.nav {
			li {
				font-size: var(--16px);
			}
		}
	}
}
