@keyframes navItemsAnimation {
	from {
		transform: translateX(-200%);
	}
	to {
		transform: translateX(0);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}
@keyframes imagesAnimation {
	from {
		filter: grayscale(0);
	}
	to {
		filter: grayscale(1);
	}
}
