@use 'mixins' as *;

.grid {
	display: grid;
	text-align: center;
	gap: 3rem;

	.about-img {
		margin: 0 auto;
	}

	.about-content {
		h2 {
			@include secondHeading;
		}

		p {
			padding-inline: var(--16px);
			color: var(--clr-gray-500);
			line-height: var(--24px);
		}
	}
}
.cards {
	padding-top: var(--80px);

	.card-container {
		display: flex;
		flex-direction: column;

		h2 {
			@include secondHeading;
		}
		.flex-group {
			display: flex;
			flex-direction: column;
			gap: var(--24px);
			padding-top: var(--28px);
			margin-bottom: var(--32px);
			margin: 0 auto;

			.flex-element {
				position: relative;
				flex-grow: 1;
				overflow: hidden;
				transform: all 0.3s;

				picture {
					transition: all 0.3s;
				}
				h3 {
					max-width: 7.5rem;
					position: absolute;
					left: 1.25rem;
					bottom: 1.25rem;
					color: var(--clr-gray-200);
					font-size: var(--22px);
					font-weight: var(--fw-m);
					text-transform: uppercase;
					text-align: left;
				}
			}
			.flex-element:hover picture {
				scale: 1.1;
			}
		}
	}
}
.footer {
	position: relative;
	padding-block: var(--48px);
	margin-top: var(--80px);

	&-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--clr-black);
		z-index: -1;
	}
	.footer-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-left {
			display: flex;
			flex-direction: column;

			&-logo {
				width: 10rem;
			}
			ul {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: var(--28px);
				padding: var(--42px) 0 var(--42px) 0;

				li {
					max-width: min-content;
					position: relative;
					font-size: var(--16px);
					font-weight: var(--fw-l);
					color: var(--clr-white);
				}
				li::after {
					@include pseudoElements;
					@include itemsAnimation;
				}
				li:hover::after {
					@include hoverAnimation;
				}
			}
		}
		&-right {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&-media {
			display: flex;
			gap: var(--16px);

			a {
				position: relative;
			}
			a::after {
				@include pseudoElements;
				@include itemsAnimation;
			}
			a:hover::after {
				@include hoverAnimation;
			}
		}
		&-bottom {
			margin-top: var(--18px);
			color: var(--clr-gray-500);
		}
	}
}

@media (min-width: 48rem) {
	.grid {
		grid-template-columns: repeat(6, 1fr);
		gap: 0;

		.about-img {
			grid-column: 1/5;
			grid-row: 1/2;
			margin: 0;
		}

		.about-content {
			grid-column: 4 / -1;
			grid-row: 1/2;
			align-self: end;
			padding: clamp(2rem, 5vw, 5.25rem) 0 0 clamp(2rem, 5vw, 5.25rem);
			text-align: left;
			background-color: var(--clr-white);

			h2 {
				font-size: clamp(2rem, 4vw, 2.875rem);
			}
			p {
				padding-inline: 0;
			}
		}
	}

	.cards {
		position: relative;
		padding-top: var(--padding-desktop);

		.card-container {
			h2 {
				font-size: clamp(2rem, 4vw, 2.875rem);
			}

			.flex-group {
				flex-direction: row;
				flex-wrap: wrap;
				gap: var(--32px);

				.flex-element {
					img,
					picture {
						width: 100%;
						height: 100%;
					}
					h3 {
						left: 1.25rem;
						bottom: 1.25rem;
						font-size: var(--28px);
						max-width: 10rem;
					}
				}
			}
		}
	}
	.footer {
		padding-block: var(--48px);
		margin-top: 11rem;

		.footer-container {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			&-left {
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				ul {
					flex-direction: row;
					align-items: center;
					gap: var(--28px);
					padding: var(--42px) 0 0 0;

					li {
						font-size: var(--16px);
						font-weight: var(--fw-l);
						color: var(--clr-white);
					}
				}
			}
			&-right {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}

			&-bottom {
				margin-top: var(--42px);
			}
		}
	}
}
